.hero-banner {
  position: relative;
  height: 500px; 
  background-image: url('/images/ban1.jpg');
  background-size: cover;
  background-position: center;
  color: #f8f8f8;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #444442;
}

.overview{
  background-color: rgb(246, 235, 222);
  padding: 40px;
  margin-right: 30px;
}
.hero-banner h1 {
  font-size: 3em;
  margin: 0;
}

.hero-banner p {
  font-size: 1.2em;
  margin-top: 10px;
}/* end of banner styling */


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  margin-bottom: 20px;
  flex: 1;
  min-width: 300px; /* Minimum width for responsiveness */
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.service h3{
  color: black;
}

.service {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

/* gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .gallery img {
    width: 48%;
  }
}/* end of gallery */

/* the map */
.map-container {
  flex: 1;
  min-width: 300px; 
  height: 300px; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  .map-container {
      height: 400px; 
}
}